
.product-page{
    width: 98%;
    margin: auto;
    height: auto;
    margin-top: 2rem;
}

.product-header-section{
    display: flex;
    gap: 2rem;
    width: 100%;
}

.product-main-box{
    width: 70%;
}


.product-pictures-box{
    width: 40%;
    display: flex;
    gap: 1rem;
    position: sticky;
    top: 4rem;
    left: 0;
    height: fit-content;
}

.main-photo{
    width: 80%;
}

.main-photo >img{
    width: 100%;
}



.product-info-header>h2{
    font-weight: 400;
    font-size: 28px;
}

.price-box{
    margin-top: 2rem;
    display: flex;
    align-items: start;
}

.mrp{
    text-decoration: line-through;
}

.discount-box{
    color: red;
    font-size: 20px;
    font-weight: 100;
}

.rating-box{
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

.rating-indicator{
    display: flex;
    gap: 0.2rem;
    border: 1px solid red;
    padding: 0px 2px;
    border-radius: 5px;
    width: fit-content;
    
    background-color: white;
}

.rating-number{
    font-size: 17.5px;
    font-weight: bold;
    color: var(--color-primary);
}

.price-box>h2{
    font-size: 30px;
}

.checked-star{
    color: var(--color-primary);
}

.unchecked-star{
    color: rgb(255, 151, 151);
}


.product-pictures-box{
    display: flex;
    gap: 1rem;
}

.photos-grid{
    width: 10%;
    padding: 3px;
}

.photo-wrapper{
    width: 100%;
}

.photo-gd-single{
    width: 100%;
}

.photo-wrapper{
    /* border: 2px solid var(--color-background-trans); */
}

.photo-gd-single{
    border: 2px solid var(--color-background-trans);
}

.buy-section{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    gap: 1rem;
}

.wishlist-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wishlist-box> p{
    font-size: 10px;
}

.wishlist{
    font-size: 20px;
}

.btn-normal{
    margin: 0;
    width: 135px;
    padding: 10px 15px !important;
}

#wishlist-heart{
    border: none;
    color: red;
    cursor: pointer;
}


/****Customer Reviews*****/
.customer-reviews-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.customer-reviews-section{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.customer-review-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fee;
    padding: 8px;
    border-radius: 8px;
}

.c-r-card-header{
    display: flex;
    gap: 5px;
    align-items: center;
}

.review-form-component{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    gap: 2px;
}

.review-form-component > select{
    width: 50px;
    padding: 8px 5px;
    font-size: 15px;
    background: #ffe3e3;
    border: 1px;
    border-radius: 8px;
}

.reiview-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.review-form-component> textarea{
    height: 4rem;
    padding: 5px 5px;
    font-family: inherit;
    resize: none;
    border-radius: 8px;
    border: 2px solid #d9d9d9;
}

.reiview-form > button{
    width: 100px;
}

@media (max-width:800px) {
    .product-header-section {
        width: 100%;
        flex-direction: column;
    }

    .product-pictures-box {
        width: 100%;
        position: unset;
    }

    .product-main-box {
        width: 100%;
    }
}