
.wishlist-page{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.wishlist-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap: 1rem;
    margin-top: 1rem ;
}

.wishlist-card{
    width: 100%;
    background-color: var(--color-border-trans);
}

.wishlist-card>img{
    width: 100%;
}

.wishlist-card>h3{
    font-size: 15px;
    padding: 5px 5px;
    font-weight: 500;
}

.wishlist-card:hover{
    border: 1px solid red;
}

